# # # # # # # # # ## # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
# ___________ _________   _____  .___    ________________________ ___________  .___________                #
# \_   _____//   _____/  /  _  \ |   |  /   _____/\__    ___/    |   \______ \ |   \_____  \               # 
#  |    __)_ \_____  \  /  /_\  \|   |  \_____  \   |    |  |    |   /|    |  \|   |/   |   \              #
#  |        \/        \/    |    \   |  /        \  |    |  |    |  / |    `   \   /    |    \             #
# /_______  /_______  /\____|__  /___| /_______  /  |____|  |______/ /_______  /___\_______  /             #
#         \/        \/         \/              \/                            \/            \/              #
#                            Discord: https://discord.gg/esaistudio                                        #
#                            Website: https://protect-gpt.fr/                                              #
# # # # # # # # # ## # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #


set sv_kick_players_cnl_verbose 3
set sv_hearthbeatKick 0

endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

sets discord "https://discord.gg/BaseTemplate"
sets Developpeur "EsaiStudio"

#set steam_webApiKey
sv_licenseKey ""
sv_maxclients 10

sv_hostname "BaseTemplate"
sets sv_projectName "BaseBaseTemplateDev"
sets sv_projectDesc " Base DEV > PVP > discord.gg/BaseTemplate"
sets tags "BaseTemplate V2, BaseTemplate, PvP, fr"
sets locale "fr-FR"
# sets banner_detail "https://i.goopics.net/k3vb38.png"
# sets banner_connecting "https://i.goopics.net/ti5he3.png"
# load_server_icon "rushpvp.png"

set sv_enforceGameBuild 3258
set mysql_connection_string "server=127.0.0.1;uid=root;database=;password=;"
set mysql_ui true

set onesync_population false
## These resources will start by default.
# ensure spawnmanager
# ensure hardcap
## Add system admins
add_principal group.modo group.user
add_principal group.admin group.modo
add_principal group.resp group.admin
add_principal group.owner group.resp
add_ace group.owner command allow # allow all commands
add_ace group.owner command.quit deny # but don't allow quit
add_ace resource.es_extended command.add_ace allow
add_ace resource.es_extended command.add_principal allow
add_ace resource.es_extended command.remove_principal allow
add_ace resource.es_extended command.stop allow
setr voice_useSendingRangeOnly true


##################
###[1.ESX_Main]###
##################
ensure oxmysql
ensure es_extended
ensure ox_lib
ensure esx_identity
ensure esx_notify
ensure chat
##################
###[2.OX_MAIN]###
##################
ensure ox_inventory
setr inventory:target false
setr inventory:bulkstashsave 0
setr inventory:dropprops true
# setr inventory:dropmodel "dropbag" 
setr inventory:weaponanims 0
setr inventory:autoreload 1

##################
###[3.MAIN]######
##################
ensure illenium-appearance
ensure pma-voice

#################
###[36.MLo######
##################
##ESSENTIAL
ensure esai_ipl